
@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<p style="font-size:17px;">This is an Autotrade platform in ASP.NET MVC.</p>
<p style="font-size:30px;">This page is created by Sanie Mehmet.</p>
